<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Photography</title>
    <link rel="stylesheet" href="static/styles/stylesheet.css">
    <style>
  
    </style>
</head>
<body>
    <header>
        <div class="the">
            <h1>HULA</h1>
            <div class="llist" style="font-size: 19px;font-weight: 400;letter-spacing: 0.075em;line-height: 1.2;">
                <ul type="none">
                    <li><a href="/login">Sign in</a></li>
                    <li><a href="/signup">Sign up</a></li>
                </ul>
                </div>
        </div>
        </div>
   </header>
   <div class=" first-image">
    <img class ="image" src="static/styles/1.jpg">
    <div class="white-sections">
        <h2><center>Welcome the world of Photography</center></h2>
    </div>
   </div>
   <div class="content">
       <div class="write-up">
        <p>Proffesionals from all over the world come together to teach you the art of Photography.</p>
        <br>
        <p>We start from basics and then go to the side of Proffesional Photography at your pace.</p>
        <p>Everything is planned and stored to suit your needs.</p>
        <p>Our certification is reknowned all over the world.</p>
       </div>
       
    </div>
<div class="image">
    <img class = "parallax" src="static/styles/3.jpg">
</div>
<div class="content">
    <div class="write-up">
        <p>Proffesionals from all over the world come together to teach you the art of Photography.</p>
        <br>
        <p>We start from basics and then go to the side of Proffesional Photography at your pace.</p>
        <p>Everything is planned and stored to suit your needs.</p>
        <p>Our certification is reknowned all over the world.</p>
       </div>
<div class="image">
    <img class = "parallax" src="static/styles/4.jpg">
</div>
   <footer>
    <div class="the">
        <h1>HULA</h1>
        <div class="llist" style="font-size: 19px;font-weight: 400;letter-spacing: 0.075em;line-height: 1.2;">
            <ul type="none">
                <li><a href="/login">Sign in</a></li>
                <li><a href="/signup">Sign up</a></li>
            </ul>
            </div>
    </div>
   </footer> 

</body>
</html>